# vscode database stuff
.vscode/*
*.db
*.db-wal
*.db-shm

# Models
include/disccord/models/*.hpp
include/disccord/models/ws/*.hpp
include/disccord/models/rest/*.hpp

# External Dependencies
casablanca/*

# Build outputs
build/*
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
Testing

# Test files
test/*_test
test_data/*

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
