dist: trusty
sudo: required
language: cpp

addons:
  apt:
    sources:
    - sourceline: 'ppa:ubuntu-toolchain-r/test'
    packages:
    - gcc-6
    - g++-6
    - libboost-all-dev

env:
  global:
    - secure: "aE+l4mYNvwD3Hj8gpBi8goW8vcGDJodBiMJh95nliBZbCHyX3kgbgu1g96d0/0agCLkIshoMQ4pyr7kp4VvE/FWNLJFFmuup7C5HBjx/eMEShF0Zw7drFTqdTogAHfXe+/vB08nIcn5PfSC8F9tCodlJdCNhuStlj6JnNLV1jLTQr5HthJx6kEuUFr4PmBHFFesYdEm08/GjiytgTqe0QW5EsCIjvzb2xr3Nd+fyozK+BJziKLMalg6n6r7Hlww2aROwLZvHJlcKF+S0ZBlIRPmBxOeUJcy8o7Szns3VPzko7A6KJDp0APcVVFlBTGw9d1/txSy38yHjwoe+lBDF86TGiGelbpWNCgepMaKTHxR0ci/lT5Fy4zhDJ9xp96nOoj4L6Z6iJlbcf6EDXzhGJqhgcf0QeFxsBcNttOMYOt6FfmC94u/SsOE+9LIexK1o9+EX73t0xHEoG6IhM8SPr/Ypnkpn3tzKEKj7K1yjDanGTD9fBoLu7I0Nk47r9oWFlimm1sVThrmMs+2HUL+dK/jDNeLGAh863hzrY579nfu/hB2JIbUaq9EKnwAoGa5Q/tqs+JIZQ1QFvx4NxxmkoR3XYJF/wl83mLd1icJGsgaq4KjD1XvlvXLVyhb7LoPwYeu+hugtpSDGP7h6Q+x/M2+YrKz4aBBgug7gMmoE/7Q="

cache:
  directories:
  - casablanca

compiler:
  - gcc

before_install:
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  - sudo apt-get -qq update
  - sudo apt-get install -y libboost-all-dev libssl-dev gcc-6 g++-6 valgrind lua5.1
  - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-6 60 --slave /usr/bin/g++ g++ /usr/bin/g++-6

install: ./install-dependencies.sh

script: ./build.sh
